{% extends 'home/admin_base.html' %}

{% block main %}


<div class="card shadow m-2" style="width:100%">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom : 2px solid orange">Employee Details</h5>
        <div class="container-fluid">
            <table class="table table-bordered table-hover" id="example">
                <thead class="text-light bg-danger">
                <tr class="table-bordered">
                    <th>S No.</th>
                    <th>Emp_Code</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email ID</th>
                    <th>Contact No.</th>
                    <th>Joining Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in employee %}
                    <td>{{forloop.counter}}</td>
                    <td>{{i.empcode}}</td>
                    <td>{{i.user.first_name}}</td>
                    <td>{{i.user.last_name}}</td>
                    <td>{{i.user.username}}</td>
                    <td>{{i.contact}}</td>
                    <td>{{i.joiningdate}}</td>
                    <td><a href="{% url 'adminedit_empprofile' i.id %}" >Edit Employee Profile</a>
                        <br><a href="{% url 'adminedit_empeducation' i.user.id %}" class="text-success">Edit Education Details</a>
                        <br><a href="{% url 'adminedit_empexperience' i.user.id %}" class="text-success">Edit Experience Details</a>
                        <br><a href="{% url 'admin_delete' i.user.id %}" class="text-danger" onclick="return confirm('Are You Sure?')">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Password Updated Successful');
    window.location = ('{% url 'Logout' %}');
</script>
{% endif %}
{% if  error == "yes" %}
<!--<script>-->
<!--    alert('Something went wrong, Try Again..');-->
<!--</script>-->
{% endif %}
{% if  error == "not" %}
<script>
    alert('Your current password is wrong');
</script>
{% endif %}
{% endblock%}