body{
  background-image : url("https://th.bing.com/th/id/OIP.Zl6gByjik_Gh_A6HXuEUpwAAAA?pid=ImgDet&rs=1");
  background-repeat : no-repeat ;
  background-size : 100% ;
  opacity : 0.8 ;

}
a:link {
text-decoration: none;
}
